<%- include('../header') %>
    <div class="main-container">
        <div class="pd-20 card-box mb-30">

            <form method="post" action="/type/insertType">


                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Select Category</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" id="categoryId" name="categoryId" onchange="getSubCategoryData()">
                            <option selected="">---Select Category---</option>
                             <% for(var cd of categoryData) { %>
                                <option value="<%= cd.id %>"><%= cd.category %></option>
                                <% } %>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Select SubCategory</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" id="subcategoryId" name="subcategoryId" onchange="getExtraCategoryData()">
                            <option selected="">---Select SubCategory---</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Select ExtraCategory</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" id="extracategoryId" name="extracategoryId">
                            <option selected="">---Select ExtraCategory---</option>
                        </select>
                    </div>
                </div>

                
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label ">Enter Type</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" name="typename" type="text" placeholder="Enter Category Type "/>
                </div>
            </div>

          
             

                <div class="form-group ">
                    <input type="submit" name="submit" id="" class="btn btn-success mt-4">
                </div>

            </form>
        </div>
    </div>


    <%- include('../footer') %>